# Quartus generated data
**/db/
**/incremental_db/
**/output_files/
**/*.qws
**/*.smsg

# ModelSim/Questa generated data
**/work/
**/transcript
**/vsim.wlf
**/*.wlf
**/wlf*
**/*.log
**/modelsim.ini
**/*_list.do
!SIM/RV32IMscMCU/screenshots/**/*_list.do

# Editor and OS files
.vs/
.vscode/
Thumbs.db
desktop.ini
